.form-container {
  max-width: 800px; /* Increase width to accommodate two columns */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 20px; /* Space between columns */
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container .button-container {
  grid-column: span 2; /* Make container span both columns */
  display: flex;
  justify-content: center; /* Center the button horizontally */
}

.form-container button {
  width: auto; /* Adjust width to fit content */
  padding: 10px 20px; /* Add horizontal padding */
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.keep-browsing-btn {
  width: 50%;
  padding: 10px;
  background-color: #007BFF; /* Solid blue */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px; /* Space below button */
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50; /* Green */
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  display: block; /* Ensure it's displayed */
}
