.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dull out the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the popup is above other content */
}

.popup-content {
  background-color: white;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%; /* Increase the width */
  max-width: 1000px; /* Increase the max-width */
  max-height: 80%; /* Limit the height to make it scrollable */
  overflow-y: auto; /* Enable vertical scrolling */
  text-align: center;
}

.popup-content h2 {
  margin-bottom: 20px;
}

.popup-content button {
  background-color: #555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.popup-content button:hover {
  background-color: darkgreen;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}